
@{
    ViewBag.Title = "Clientes";
}
@section scripts{
    <script>
        var urlAlteracao = '@Url.Action("Alterar", "Cliente", new { area = "" })';
        var urlClienteList = '@Url.Action("ClienteList", "Cliente", new { area = "" })';

        var urlBeneficiarioList = '@Url.Action("BeneficiarioList", "Beneficiario", new { area = "" })';
        var urlAlteracaoBeneficiario = '@Url.Action("Alterar", "Beneficiario", new { area = "" })';

        $("#CPF").mask("000.000.000-00");
        $('.CEP').mask('00000-000');

    </script>
    @Scripts.Render("~/bundles/listClientes")
    @Scripts.Render("~/bundles/listBeneficiario")

}
<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.ActionLink("Novo Cliente", "Incluir", "Cliente", new { }, new { @class = "btn btn-sm btn-primary pull-right" })
<table id="gridClientes" class="table"></table>
